.menueButton {
    background-color:#6487AF;
    color: #D9E5F2;
    font-size: x-large;
    height: 80px;
    width: 200px;
    border: 2;
    border-color: #6487AF;
    margin: 5px 5px 5px 5px;
}

.menueButton:hover {
    background-color:#D9E5F2;
    color: #6487AF;
    font-size: x-large;
    height: 80px;
    width: 200px;
    border: 2;
    border-color: #6487AF;
    margin: 5px 5px 5px 5px;
    cursor: pointer;

}

body {
    margin:0px;
}
